* {
    background-color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: serif;
}

*::-webkit-scrollbar {
    display: none;
}

.container {
    margin: 0;
    padding: 0;
}

#home {
    display: none;
}


/*Loader*/

.chihiro-load {
    height: 60vh;
    width: 15vw;
    background: url('../assets/chihiro.png') repeat-x;
    background-size: cover;
    bottom: 3%;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.loader * {
    background-color: transparent;
}

.text {
    width: 13vw;
    height: 14vw;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    color: white;
}

.text p {
    display: inline-block;
    animation: moveLeft 2s linear infinite;
    font-size: 2em;
}

.text p::before {
    content: 'LOADING';
    display: inline-block;
    width: 13vw;
    height: 4vw;
    position: absolute;
    left: 120%;
    top: 0;
}

.home {
    display: none;
    margin: 0;
    padding: 0;
    max-width: 100vw;
}


/*Navbar*/

.myNavbar {
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(to left, #00A953, transparent);
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5% 0 0 5%;
    transition: all .5s;
    z-index: 100;
}

.change {
    right: 0;
}

.burguer-btn {
    width: 35px;
    height: 30px;
    background-color: transparent;
    position: fixed;
    top: 5%;
    right: 5%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #00190C;
    transition: all .5s;
}

.change .line1 {
    transform: rotate(-405deg) translate(-8px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(405deg)translate(-8px, -6px);
}

.my-nav-links {
    text-align: right;
    background-color: transparent;
}

.my-nav-links li {
    list-style: none;
    margin: 15px;
    background-color: transparent;
}

.my-nav-links li a {
    text-decoration: none;
    font-size: larger;
    color: #FFF;
    font-weight: 900;
    background-color: transparent;
    text-transform: uppercase;
    position: relative;
    padding: 3px 0;
}


/*Animaciones del menu hamburguesa*/

.my-nav-links li a::before,
.my-nav-links li a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #00190C;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform .3s;
}

.my-nav-links li a::after {
    bottom: 0;
    transform-origin: left;
}

.my-nav-links li a::before {
    top: 0;
    transform-origin: right;
}

.my-nav-links li a:hover::before,
.my-nav-links li a:hover::after {
    transform: scaleX(1);
}


/*Seccion hero con fondo "animado"*/

.hero {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    z-index: 10;
    overflow: hidden;
}

.title {
    position: absolute;
    z-index: 30;
    background-color: transparent;
}

#img-title {
    background-color: transparent;
    width: 30%;
    height: 35%;
    top: 0;
    left: 10%;
    position: fixed;
}

.train-background {
    position: absolute;
    background: url('../assets/Train-background.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.train-move {
    position: absolute;
    background: url('../assets/Train-move.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 30%;
    width: 100%;
    bottom: 2%;
    left: 100%;
    z-index: 20;
    animation: moveTrain 15s linear infinite;
}


/*Divisor*/

.divider {
    background-color: transparent;
    background-image: linear-gradient(to top, rgba(0, 255, 144, 0.3), transparent);
    position: absolute;
    width: 100%;
    left: 0;
    height: 70px;
    top: -70px;
    z-index: 10000;
}

.img-coal {
    position: relative;
    background-color: transparent;
    background: url('../assets/hollin.png') repeat-x;
    background-size: contain;
    height: 100%;
    top: 50%;
}


/*Seccion principal con sinopsis*/

.introduction {
    position: absolute;
    background: url('../assets/chihiro-home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    bottom: -110%;
    left: 0;
    height: 105%;
    width: 100%;
    z-index: 50;
}

.introduction.sinopsis {
    max-width: 80%;
}

.sinopsis {
    position: inherit;
    background-color: rgba(162, 251, 222, 0.5);
    width: 50%;
    height: 50%;
    top: 30%;
    left: 15%;
    color: #000;
    display: inline-block;
    transition: .3s;
    border-radius: 5px;
    border: 1px #18182B solid;
}

.sinopsis[data-scroll="in"] {
    animation-name: slideInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.sinopsis * {
    background-color: transparent;
    margin: 2%;
    font-weight: bolder;
}


/*Grilla de personajes*/

.my-grid {
    position: absolute;
    background-color: #9FFFAA;
    bottom: -250%;
    left: 0;
    height: 150%;
    width: 100%;
    z-index: 60;
}

.my-grid * {
    background-color: transparent;
}

.grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 20%;
    gap: 1%;
    width: 90%;
    height: 100%;
    top: 5%;
    left: 5%;
    padding: 1%;
}

.my-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
    opacity: 0;
    overflow-y: hidden;
}

.my-card[data-scroll="in"] {
    transition-delay: 0.1s;
    opacity: 1;
}

.my-card:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
}

.my-card:nth-child(2) {
    grid-column-start: span 2;
}

.my-card:nth-child(5) {
    grid-row-start: span 2;
}

.my-card:nth-child(8) {
    grid-row-start: span 2;
}

.my-card:nth-child(9) {
    grid-column-start: span 2;
}

.card-1 {
    background: url('../assets/chihiro-char.jpg');
    background-size: cover;
    background-position: center;
}

.card-2 {
    background: url('../assets/haku-char.jpg');
    background-size: cover;
    background-position: center;
}

.card-3 {
    background: url('../assets/sin-cara-char.jpg');
    background-size: cover;
    background-position: center;
}

.card-4 {
    background: url('../assets/kamaji-char.png');
    background-size: cover;
    background-position: center;
}

.card-5 {
    background: url('../assets/zeniba-char.jpg');
    background-size: cover;
    background-position: center;
}

.card-6 {
    background: url('../assets/boh-char.jpg');
    background-size: cover;
    background-position: center;
}

.card-7 {
    background: url('../assets/padres-char.jpg');
    background-size: cover;
    background-position: center;
}

.card-8 {
    background: url('../assets/baba-intro.jpg');
    background-size: cover;
    background-position: center;
}

.card-9 {
    background: url('../assets/hollines-char.jpg');
    background-size: cover;
    background-position: center;
}

.card-img {
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    filter: grayscale();
}

.my-card:hover>.card-img {
    filter: none;
    transform: perspective(1200px) translate3d(-5px, -10px, 0) rotateY(5deg);
}

.card-content * {
    background-color: transparent;
    color: #fff;
}

.card-content {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 80%;
    left: 50%;
    top: -50%;
    padding: 2%;
    border: 1px solid #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.my-card:hover>.card-content {
    opacity: 1;
}


/*Seccion de carrusel de imagenes*/

#avances {
    background-color: #9FFFAA;
    position: absolute;
    bottom: -350%;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 60;
}

.my-slider {
    position: relative;
    border: 2px solid #B9CBD3;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    margin: auto;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.my-slider input[type="radio"] {
    position: relative;
    z-index: 1000;
    margin: 1%;
    outline: none;
    cursor: pointer;
}

.img-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 5px;
    z-index: 60;
    transition: 0.5s;
    clip-path: inset(0% 100% 0% 100%);
}

.my-slider input[type="radio"]:checked+.img-box {
    z-index: 70;
    clip-path: inset(0% 0% 0% 0%);
}

.img-box div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.img-box .content * {
    background-color: transparent;
}

.img-box .content {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1%;
    color: #fff;
    position: relative;
    text-align: center;
    height: 10%;
    left: 0;
    bottom: -90%;
    transform: translate(10px, -10px);
    transition: 0.3s ease-in-out;
    opacity: 0;
}

.img-box:hover .content {
    opacity: 1;
}

.img-back-1 {
    background: url('../assets/train-escene.jpg');
    background-size: cover;
}

.img-back-2 {
    background: url('../assets/yubaba-escene.jpg');
    background-size: cover;
}

.img-back-3 {
    background: url('../assets/padres-scene.jpg');
    background-size: cover;
}

.img-back-4 {
    background: url('../assets/zeniba-escene.jpg');
    background-size: cover;
}

.img-back-5 {
    background: url('../assets/haku-scene.jpg');
    background-size: cover;
}


/*Seccion con acordeon para charla de personajes*/

#char {
    display: none;
    position: absolute;
    background-color: #9FFFAA;
    bottom: -170%;
    left: 0;
    min-height: 160%;
    width: 100%;
    z-index: 60;
}

#char-acordion {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: auto;
}

.acordion {
    position: relative;
    max-width: 90%;
    height: 80%;
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #00A953;
    border: 1px #000 solid;
    border-radius: 5px;
    display: inline-block;
    padding: 2%;
}

.acordion * {
    background-color: transparent;
}

.acordion h1 {
    font-size: 200%;
    letter-spacing: 3px;
    font-weight: 300;
    color: #FFF;
}

.acordion h2 {
    font-size: 130%;
    font-weight: 300;
    color: #FFF;
    margin: 0;
    cursor: pointer;
}

.acordion p {
    max-height: 80%;
    max-width: 70%;
    margin-top: 2.5%;
    color: #00190C;
    font-size: 110%;
    position: relative;
    overflow: hidden;
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.3s ease-in-out;
}

.acordion .img-3d {
    position: absolute;
    background-color: #000;
    border: 1px #000 solid;
    bottom: 0;
    right: 0;
    height: 80%;
    width: 25%;
    opacity: 1;
    z-index: 2;
    transition: all .5s ease-in-out;
    transform-style: preserve-3d;
}

.img-3d:hover {
    transform: scale3d(1.4, 1.5, 1.1);
}

.img-chihiro-haku {
    background: url('../assets/chihiro-haku.jpg');
    background-size: cover;
}

.img-yubaba-empleados {
    background: url('../assets/yubaba-empleados.jpg');
    background-size: cover;
}

.img-chihiro-sin-cara {
    background: url('../assets/chihiro-sin-cara.jpg');
    background-size: cover;
    background-position: center;
}

.img-haku-empleados {
    background: url('../assets/haku-empleados.png');
    background-size: cover;
}

.img-chihiro-kamaji {
    background: url('../assets/chihiro-kamaji.png');
    background-size: cover;
    background-position: center;
}

.acordion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.acordion ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-top: 2%;
    border-top: 1px #FFF dotted;
}

.acordion ul li input[type="checkbox"] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.acordion ul li input[type="checkbox"]:checked~p,
.acordion ul li input[type="checkbox"]:checked~.img-3d {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}


/*Seccion about con formulario de contacto*/

#about {
    display: none;
    position: absolute;
    background-color: #9FFFAA;
    bottom: -110%;
    left: 0;
    min-height: 100%;
    width: 100%;
    z-index: 60;
}

#about * {
    background-color: transparent;
}

.form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    transform: translate(-50%, -50%);
    background-color: #00190C;
    text-align: center;
}

.form-box h1 {
    color: transparent;
    -webkit-text-stroke: 2px #000;
    font-size: 500%;
}

.form-box p {
    font-weight: bolder;
}

.form-box input {
    width: 60%;
    height: 10%;
    margin: 3% auto;
    display: block;
    text-align: center;
    border: 2px #18182B solid;
    border-radius: 10px;
    outline: none;
    color: #18182B;
    transition: .3s;
}

.form-box input:focus {
    width: 90%;
}

#inp-enviar {
    color: #00A953;
    border: none;
    font-size: 200%;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    width: 100%;
    transition: .2s ease-in-out;
}

#inp-enviar:hover {
    color: #000;
}


/*Temporizador de estreno*/

.timer {
    position: absolute;
    background-color: rgba(162, 251, 222, 0.5);
    border-radius: 5px;
    border: 1px #18182B solid;
    z-index: 20;
    width: 25%;
    bottom: 20%;
    left: 70%;
    color: #000;
    text-decoration: solid;
    padding: 0 .5% 0 .5%;
}

.timer[data-scroll="in"] {
    animation-name: slideInRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.timer * {
    font-weight: bolder;
    background-color: transparent;
}

#countdown ul li {
    display: inline-block;
    font-size: .8em;
    list-style-type: none;
    padding: .5em;
    text-transform: uppercase;
}

#countdown ul li span {
    display: block;
    font-size: 1.2rem;
}


/* Animacion de movimiento constante hacia la izquierda */

@keyframes moveLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-120%);
    }
}

@keyframes moveTrain {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-200%);
    }
}


/* Animacion de desvanecimiento */

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: 1;
        display: none;
    }
}


/* Animacion de aparicion */

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*Aparicion desde izquierda*/

@keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


/*Aparicion desde derecha*/

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}